<main *ngIf="videoID; else loadingBlock">
<div class="video-wrapper" >
<div class="title-wrapper">
        <h1>{{video.name}}</h1>
    </div>

    <div class="iframe-wrapper"  >
      <!-- <div class="iframe-wrapper" [innerHTML]="player | vimeoiFrame"> -->

      <iframe [src]="videoID | vimeoUrl" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>

        <!-- <ng-bind-html
        [ng-bind-html]="video.embed.html">
      </ng-bind-html> -->

    </div>
    <ul class="credits">
      <li>DOP: {{credits.dop}},</li>
      <li>EDITOR: {{credits.editor}},</li>
      </ul>
      <ul class="credits">
      <li>PROD. COMPANY: {{credits.prodComp}},</li>
      <li>AGENCY: {{ credits.agency }}</li>
    </ul>
    <!-- <button class="back" (click)="goToVideos()">
        <i class="material-icons">arrow_back</i>
    </button> -->


</div>
</main>

<ng-template #loadingBlock>
<app-loading></app-loading>
</ng-template>

