.post-wrapper{
    position: relative;
    width: 100%;
    margin-bottom: 8rem;
    font-family: Palatino;
    font-weight: 100;
    @media screen and (max-width:600px){
        height: calc(100vh - 5.925rem);
    }
    & h1{
        font-size: 2.7rem;
    }
  
    & img{
        padding: 1rem 7rem;
    }
  
    

}



.title-wrapper{
    width: 100%;
    z-index: 1;
}