.board{
    width: 85%;
    padding-top: 7rem;
    margin: 0 auto;
    position: relative;

    & h1, h2, p{
        text-transform: uppercase;
        line-height: 1.8rem;
        font-size: 1.3rem;
    }

}

.third{
    display: inline-block;
    width: 30%;
    margin: 0 1.6%;
}