<div class="board">
    <div class="third">
        <h1>ANDIAMO</h1>
        <p>
            <a href="mailto:halo@andiamo.works">halo@andiamo.works</a><br>
            ul. Czeczota&nbsp;4/1, 02-607<br>
            WARSAW, Poland<br>
        </p>
    </div>
    <div class="third">
        <h2>Mat Erdmann</h2>
        <p>
            <a href="mailto:mat@andiamo.works">mat@andiamo.works</a><br>
            <a href="tel:+48606712060">+48606712060</a>
        </p>
    </div>
    <div class="third">
        <h2>Michal&nbsp;Wieckowski</h2>
        <p>
            <a href="mailto:michal@andiamo.works">michal@andiamo.works</a><br>
            <a href="tel:+48501355898">+48501355898</a>
        </p>
    </div>
</div>