<h1>
  {{ 'CONTACT.H1' | translate }}<br>
  <a href="mailto:halo@andiamo.works">HALO@ANDIAMO.WORKS</a>
</h1>
<div class="board">
  <div class="stamp">
    <p>MADE BY</p>
    <span>ANDIAMO.WORKS</span>
  </div>
  <div class="contact">
    <div class="third">
      <h2>MAT ERDMANN</h2>
      <p>
          <a href="mailto:mat@andiamo.works">MAT@ANDIAMO.WORKS</a><br>
          <a href="tel:+48606712060">+48606712060</a>
      </p>
    </div>
    <div class="third">
        <h2>ANDIAMO&nbsp;OFFICE</h2>
        <p>
            ul.&nbsp;GRAŻYNY&nbsp;15/19,<br>02-548&nbsp;WARSZAWA<br>POLAND<br>
        </p>
    </div>

    <div class="third">
        <h2>MICHAŁ&nbsp;WIĘCKOWSKI</h2>
        <p>
            <a href="mailto:michal@andiamo.works">MICHAL@ANDIAMO.WORKS</a><br>
            <a href="tel:+48501355898">+48501355898</a>
        </p>
    </div>
  </div>
  <div class="contact">
    <div class="third">
      <div class="stamp"><p>COMMERCIALS</p></div>
      <h2>MICHAŁ&nbsp;SHOOTMAN&nbsp;MAJEWSKI</h2>
        <p>
            <a href="mailto:michal@shootme.pl">MICHAL@SHOOTME.PL</a><br>
            <a href="tel:+486068800888">+486068800888</a>
        </p>
    </div>
  </div>
  <div class="sign">
    <img src="../../../assets/ANDIAMO_sign_black.svg" alt="ANDIAMO">
  </div>
  <div class="stamp">
    <p>SITE&nbsp;DESIGNED&nbsp;by&nbsp;DAVID&nbsp;BŁAŻEWICZ&nbsp;/ CODED&nbsp;by&nbsp;ANDRZEJ&nbsp;☀&nbsp;HOLNICKI<br>
      COPYRIGHTS&nbsp;©&nbsp;ANDIAMO&nbsp;2021&nbsp;/ ALL&nbsp;RIGHTS&nbsp;RESERVED</p>
  </div>

</div>
