$color-2: #84fb54;

.board{
    width: 100%;
    margin: 17% auto;
    position: relative;
    @media screen and(max-width: 900px){
        border-left: 3px solid rgba($color-2, 1);
        width: 270px;
        margin: 25% auto;

    }
    @media screen and(max-width: 600px){
        margin: 13% auto;
    }
    

    & h1, h2{
        margin: 0;
        text-transform: uppercase;
        border-bottom: 3px solid rgba($color-2, 1);
        @media screen and (max-width: 900px){
            border-bottom: none;
        }
        
    }

    & h1, h2, p{
        line-height: 1.8rem;
        font-size: 1.3rem;
        padding: 0;
        margin-bottom: 0;
        @media screen and (max-width: 400px){
            font-size: 1rem;
            line-height: 1.5rem;
        }
    }
    @media screen and (max-width: 400px){
        p{
            margin-top: 1%;
        }
    }

}

.third{
    display: inline-block;
    vertical-align: top;
    width: 31%;
    margin-left: 2%;

    @media screen and (max-width: 900px){
        display: block;
        width: 270px;   
        padding: 10%;    
        margin-left: 1%;
 
    }
    @media screen and (max-width: 400px){
        width: 236px;  
        padding: 9% 5%;    
 
    }

    
}