
.blog {
    margin: 0;
    width: 100%;
    min-height: 100vh;
  }

.blog p {
    font-size: 40px;
    margin-top: 200px;
    text-align: center;
  }


.post-item {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 2%;
    // min-width: 333px;
    width: 21%;

    @media screen and (max-width: 600px){
      width: 100%;
      margin: 0px;
      min-width: 0px;
    }
  }
