
h1{
  line-height: unset !important;
}
#logotype{
  position: fixed;
  left: 50%;
  bottom: 50%;
  transform: translate(-50%, 0);
  width: 53%;
  z-index: 2;
  & img{
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  @media screen and (max-width: 900px){
      width: 70%;
  }
}
