<ng-container *ngIf="isSkipped === 'nie'">
  <div id="showreel">
    <!-- <video width="100%" poster="../../../assets/ANDIAMO_soulreel.jpg" autoplay muted loop >
      <source src="../../../assets/ANDIAMO_soulreel.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video> -->
    <!-- <img src="../../assets/ANDIAMO_gif.gif" alt="gif" id="gif"> -->
    <button (click)="skipReel()">skip</button>
    <img src="../../assets/ANDIAMO_logotype.svg" alt="andiamo" id="gif_sign">
  </div>
</ng-container>
