
$font: 'tex_gyre_heros_cnregular';
#showreel{
  height: 56.3vw;
}
button{
  border: solid white 2px;
  font-size: 2rem;
  color: wheat;
  position: absolute;
  top: 90vh;
  z-index: 10;
  left: 50%;
  text-transform: uppercase;
  font-family: $font;
  padding: 0 .5rem;
}
img{
  position: absolute;
  top: 50vh;
  z-index: 9;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  &#gif{
    transform: translate(-50%, 0%);
    top: 0%;
  }

}
