<div class="desktop">
<nav>
    <div class="nav-main">
      <ul>
        <li><a routerLink="/films" routerLinkActive="active">WORKS</a></li>
        <li><a routerLink="/about" routerLinkActive="active">ABOUT</a></li>
        <li><a routerLink="/bts" routerLinkActive="active">BTS</a></li>
        <li><a routerLink="/news" routerLinkActive="active">NEWS</a></li>
        <li><a routerLink="/digital" routerLinkActive="active">DIGITAL</a></li>
        <li><a routerLink="/contact" routerLinkActive="active">CONTACT</a></li>
      </ul>
    </div>
  </nav>
  <nav>
    <div class="nav-tri">
      <ul>
        <li><a routerLink="/reel" routerLinkActive="active">REEL 2020</a></li>
      </ul>
    </div>
  </nav>
  <nav>
    <div class="nav-sec">
      <ul>
        <li><a href="https://shootme.pl/Andiamo" target="_blank">SHOOTME</a></li>
        <li><a href="https://vimeo.com/andiamoworks" target="_blank">VIMEO</a></li>
        <li><a href="https://www.facebook.com/andiamoworks" target="_blank">FACEBOOK</a></li>
        <li><a href="https://www.instagram.com/andiamoworks" target="_blank">INSTAGRAM</a></li>
      </ul>
    </div>
  </nav>
</div>