
$color: #ff501e;
$white: #fafff6;
$font: 'tex_gyre_heros_cnregular';
$font-bold: 'tex_gyre_heros_cnbold';


.active{
  text-decoration: underline;
  font-family: $font-bold;

}

nav{
    & *{
        z-index: 10;
    }
    & ul{
        padding: 0;
    }
    & li{
        text-decoration: none;
        list-style-type: none;

        & a{
            padding: 0 2px;

        }
    }
}
nav{
  font-size: 1.375rem;
}
nav .nav-main{
    display: flex;
    justify-content: space-between;
    width: 96%;
    position: fixed;
    top: 2%;
    left: 2%;
    text-transform: uppercase;

    & ul{
      display: flex;


    }

    & ul:first-child{
        justify-content: left;
        & li{
          padding: 0 1vw 0 0;
        }
    }
    & ul:last-child{
      justify-content: right;
      & li{
        padding: 0 0 0 1vw;
      }
  }
    & a{
        transition: .2s ease-out;
    }
}

nav .nav-sec{
    position: fixed;
    width: 96%;
    bottom: 2%;
    left: 2%;
    & ul{
      display: flex;
      justify-content: space-between;
    }
}
.soulreel{
  animation: fresh 2s ease .2s 1 normal forwards;
}
@keyframes fresh {
  0%   { letter-spacing: .1rem; margin-left: -0rem; margin-right: -0rem;}
  25%  { color: $color; letter-spacing: .24rem; margin-left: -.54rem; margin-right: -.54rem;}
  50%  { letter-spacing: .1rem;  margin-left: -0rem; margin-right: -0rem;}
  75%  { color: $color; letter-spacing: .24rem; margin-left: -.54rem; margin-right: -.54rem;}
  100% { letter-spacing: .1rem;  margin-left: -0rem; margin-right: -0rem;}
}

nav .nav-qua{
  font-size: 11px;
  line-height: 11px;
  position: fixed;
  right: 2%;
  top: 50%;
  transform: translate(50%, -50%) rotate(270deg);
}

