<div class="desktop">
<nav>
    <div class="nav-main">
      <ul>
        <li><a routerLink="/prace" routerLinkActive="active">WORKS</a></li>
        <li><a routerLink="/o-nas" routerLinkActive="active">ABOUT</a></li>
      </ul>
      <ul>
        <li><a routerLink="/z-planu" routerLinkActive="active">BTS</a></li>
        <!-- <li><a routerLink="/newsy" routerLinkActive="active">Aktualności</a></li> -->
        <li><a routerLink="/kontakt" routerLinkActive="active">KONTAKT</a></li>
      </ul>
    </div>
  </nav>
  <nav>
    <div class="nav-sec">
      <ul>
        <li><a routerLink="/soulreel" routerLinkActive="active">SOULREEL</a></li>
        <li><a href="https://shootme.pl" target="_blank">SHOOTME</a></li>
        <li><a href="https://vimeo.com/andiamoworks" target="_blank">VIMEO</a>/<a href="https://www.facebook.com/andiamoworks" target="_blank">FB</a>/<a href="https://www.instagram.com/andiamoworks" target="_blank">IG</a></li>
      </ul>
    </div>
  </nav>

  <nav>
    <div class="nav-qua">
      <ul>
        <li><a href="http://helio.webd.pl/" target="_blank">CODE ☀ HELIO</a></li>
      </ul>
    </div>
  </nav>
</div>
