
<div class="desktop">
<nav>
    <div class="nav-main">
      <ul>
        <li><a routerLink="{{ 'ROUTING.MAIN' | translate }}" class="menu-link">WORKS</a></li>
        <li><a routerLink="{{ 'ROUTING.ABOUT' | translate }}" routerLinkActive="active" class="menu-link">ABOUT</a></li>
      </ul>
      <ul>
        <li><a routerLink="{{ 'ROUTING.BTS' | translate }}" routerLinkActive="active" class="menu-link">BTS</a></li>
        <!-- <li><a routerLink="/newsy" routerLinkActive="active">Aktualności</a></li> -->
        <li><a routerLink="{{ 'ROUTING.CONTACT' | translate }}" routerLinkActive="active" class="menu-link">{{ 'MENU.CONTACT' | translate }}</a></li>
        <li><app-translation></app-translation></li>
      </ul>
    </div>
  </nav>
  <nav>
    <div class="nav-sec">
      <ul>
        <li><a routerLink="{{ 'ROUTING.SOULREEL' | translate }}" routerLinkActive="active" class="soulreel menu-link">SOULREEL</a></li>
        <!-- <li><a href="https://shootme.pl" target="_blank" class="menu-link">SHOOTME</a></li> -->
        <li><a href="https://vimeo.com/andiamoworks" target="_blank" class="menu-link">VIMEO</a>
          <span class="menu-link"> / </span>
          <a href="https://www.facebook.com/andiamoworks" target="_blank" class="menu-link">FB</a>
          <span class="menu-link"> / </span>
          <a href="https://www.instagram.com/andiamoworks" target="_blank" class="menu-link">IG</a></li>
      </ul>
    </div>
  </nav>

  <nav>
    <div class="nav-qua">
      <ul>
        <li><a href="https://helio.webd.pl/" target="_blank" class="menu-link">CODE ☀ HELIO</a></li>
      </ul>
    </div>
  </nav>
</div>
