.grid__item{
    max-width: 34.5rem;
    margin: 0 auto .8rem auto;

    & img{
        width: 100%;
    }

    &:hover span{
        visibility: visible;
        opacity: 100%;
        @media screen and (max-width: 900px){
            display: none;
            visibility: hidden;
            opacity: 0;
        }
    }

    & span{
        position: fixed;
        width: 80%;
        top: 50%;
        transition: .2s ease-out;
        visibility: hidden;
        opacity: 0;
        width: calc((100% - 34.5rem) / 2);
        text-align: center;
        @media screen and (max-width: 900px){
            display: none;
            visibility: hidden;
        }
    }
}

.name{
    left: 0;
}

.rest{
    right: 0;
}

h1.name-rest{
    display: none;
    visibility: hidden;
    opacity: 0;
    padding: 0;
    text-align: center;
    margin-top: 0;
    width: 120%;
    margin-left: -10%;
    
    @media screen and (max-width: 900px){
        visibility: visible;
        display: block;
        opacity: 100%;
    }
    @media screen and (max-width: 600px){
        width: 90%;
        margin-left: 0%;
        padding: 0 5%;
        font-size: 1rem;


    }
}



