<div class="grid__item" onclick="" *ngIf="video">

    <span
        class="name">
            <!-- {{ getName(video.name)}} -->
    </span>

    <a [routerLink]="[video.uri]">
        <img
            [lazyLoad]="video.pictures.base_link"
            [defaultImage]="logo">
        <label
            class="name-rest">
                <!-- {{ getNameRest(video.name) }} -->
        </label>
    </a>

    <span
        class="rest">
            <!-- {{ getRest(video.name) }} -->
    </span>

</div>
