$color: #ff501e;
.grid__item{
    // max-width: 34.5rem;
    max-width: 640px;
    margin: 0 auto .8rem auto;
    border-radius: 18px;
    & a{
      border-radius: 5px;

    }

    & img{
        width: 100%;
        // filter:grayscale(100%);
        transition: .5s ease-in-out;
        // border-radius: 12px;
        border: solid 1px white;
        // @media screen and (hover: none){
        //   filter:grayscale(0%);
        // }
        @media screen and (max-width: 600px){
            width: 96%;
            margin: 0 2%;
        }
    }
    // &:hover img{
    //   filter:grayscale(0%);
    // }
    & span{
        color: $color;
        position: fixed;
        width: 80%;
        top: 50%;
        transition: .5s;
        visibility: hidden;
        display:none;//może usunę potem żeby zadziałało transition
        opacity: 0;
        width: calc((100% - 640px) / 2);
        // width: calc((100% - 34.5rem) / 2);
        text-align: center;
        @media screen and (max-width: 1024px){
            display: none;
            visibility: hidden;
        }
    }

    &:hover span{
        display: block;
        visibility: visible;
        opacity: 1;
        @media screen and (max-width: 1024px){
            display: none;
            visibility: hidden;
            opacity: 0;
        }
    }
}

.name{
    left: 0;
}

.rest{
    right: 0;
}

label.name-rest{
    display: none;
    visibility: hidden;
    opacity: 0;
    padding: 0;
    text-align: center;
    margin-top: 0;
    width: 120%;
    margin-left: -10%;
    color: $color;

    @media screen and (max-width: 1024px){
        visibility: visible;
        display: block;
        opacity: 1;
    }
    @media screen and (max-width: 600px){
        width: 90%;
        margin-left: 0%;
        padding: 0 5%;
        font-size: 1rem;
        letter-spacing: .1rem;


    }
}



