<div class="grid__item" onclick="">

    <span  
        class="name">
            {{ getName(video.title) }}
    </span>

    <a [routerLink]="['/video', video.id]">
        <img 
            [lazyLoad]="video.thumbnail_large"
            [defaultImage]="logo"
            alt="{{ getName(video.title) }}">
        <label 
            class="name-rest">
                {{ getNameRest(video.title) }}
        </label>
    </a>    

    <span 
        class="rest">
            {{ getRest(video.title) }}
    </span>

</div>