$color-2: #8cfa60;


.masonry-with-columns {
    margin-top: -4.2rem;
    columns: 3 300px;
    column-gap: 0;
    column-span: none;
    column-fill: balance;
    & div.masonry {
      width: 100px;
      background: black;
      margin: 0;
      display: inline-block;
      width: 100%;
      height: 100%;

      & img{
          width:100%;
          vertical-align: bottom;
      }
    } 
  }

  h1{ 
    display: none;
    visibility: hidden;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 90%;
    text-align: center;
    text-transform: uppercase;
    color: $color-2;
    @media screen and (min-width:600px){
      font-size: 2rem;
    }
  }
