$color-2: #8cfa60;

.masonry-with-columns {
    margin-top: -7%;
    columns: 3 300px;
    column-gap: 0;
    column-span: none;
    column-fill: balance;
    div {
      width: 100px;
      background: black;
      margin: 0;
      display: inline-block;
      width: 100%;
      height: 100%;

      & img{
          width:100%;
          vertical-align: bottom;
      }
    } 
  }

  h1{ 
    display: none;
    visibility: hidden;
  }
