<div *ngIf="isBigScreen; else smallScreen">
    <div class="masonry-with-columns">
        <div class="masonry" *ngFor="let photo of photos">
            <img [lazyLoad]="bigURL+photo" alt="">
        </div>
    </div>
</div>
    <ng-template #smallScreen>
        <div class="masonry-with-columns">
            <div class="masonry" *ngFor="let photo of photos">
                <img [lazyLoad]="smallURL+photo" alt=""> 
            </div>
        </div>
    </ng-template>

<h1>Allora, ANDIAMO ?</h1>


