$color: #ff501e;
$white: #fafff6;
.screen{
    position: fixed;
    z-index: 100;
    height: 92vh;
    color: $white;
    mix-blend-mode: difference;
    @media screen and (max-width: 599px){
        position: relative;
        height: unset;
    }
    @media screen and (max-height: 680px) and (orientation: landscape){
    // @media screen and (max-height: 600px) and (orientation: landscape){
      position: relative;
      height: unset;
  }
}

p{
    // padding: 1% 26%;
    padding: 1% 25%;
    font-size: 1vw;
    line-height: 1.2vw;
    // font-size: 1.5vw !important;
    // line-height: 2vw  !important;
    letter-spacing: .2vw;
    word-spacing: .1vw;
    text-align: justify;
    &:first-child{
        padding-top: 4%;
    }


    //tablet
    @media screen and (max-width: 1024px) and (orientation: portrait){
        padding: 1% 22%;
        font-size: 2.5vw;
        line-height: 3vw;
        letter-spacing: .2vw;
        word-spacing: 1vw;
        &:first-child{
          // padding-top: 22%;
          padding-top: 12%;
      }
    }

    //phone up to Nexus 7 excluded
    @media screen and (max-width: 599px){
        padding: 2% 10%;
        font-size:5vw;
        line-height: 6vw;
        letter-spacing: .2vw;
        word-spacing: 1vw;
        &:first-child{
            padding-top: 15%;
        }
    }

    //BIG SCREEN TV
    @media screen and (min-height: 860px) and (orientation: landscape){
        font-size: 1.54vw;
        line-height: 1.7vw;
        letter-spacing: .2vw;
        word-spacing: .15vw;
        &:first-child{
            padding-top: 6%;
            // padding-top: 8%;
        }
    }

     //small laptop <720 px height (11'-15')
     @media screen and (max-height: 680px) and (orientation: landscape){
    //  @media screen and (max-height: 720px) and (orientation: landscape){
        padding: 1% 25%;
        font-size: 1.45vw;
        line-height: 2vw;
        letter-spacing: .14vw;
        &:first-child{
            padding-top: 3%;
        }
    }
}

.awards{
    position: absolute;
    bottom: 0%;
    @media screen and (max-width: 599px) {
      position: relative;
      padding-top: 5%;
    }
    // @media screen and (max-height: 600px) and (orientation: landscape){
    @media screen and (max-height: 680px) and (orientation: landscape){
      width: 50%;
      top: 140vh;
  }
}
h2{
  border: $color 1px solid;
  color: $color;
  padding: 0 1rem;
  width: 145px;
  font-size: 1rem;
  margin: 5px 2%;
  left: 2%;
}
ul{
    list-style: none;
    padding: 0 2%;
    font-size: .7rem;
    letter-spacing: .16rem;
    word-spacing: .05rem;
    text-align: justify;
    opacity: .9;

    @media screen and (max-width: 599px){
        text-align: left;
        font-size: .8rem;
        line-height: 1.2rem;
        padding: 0 4%;
        letter-spacing: .06rem;

    }
    @media screen and (max-height: 680px) and (orientation: landscape){
    // @media screen and (max-height: 600px) and (orientation: landscape){
      text-align: left;
      font-size: 1.6rem;
      line-height: 3rem;
      padding: 0 5%;
      letter-spacing: .5rem;
      text-align: left;
    }
}

ul{
    & li{
        display: inline;
        padding-right: .5rem;
        padding-top: .24rem;

        &:before {
            content: "▪ ";
            color: $color;
          }

        @media screen and (max-width: 599px){
            display: list-item;
        }
        @media screen and (max-height: 680px) and (orientation: landscape){
        // @media screen and (max-height: 600px) and (orientation: landscape){
          display: list-item;
          padding-top: 25rem;
          &:last-of-type{
          padding-bottom: 25rem;}


        }

    }
}

.gallery{
    padding-top: 25%;
    position: relative;
    margin-bottom: -4.2rem;
    @media screen and (max-width: 900px){
        padding-top: 6%;
    }

    .row{
        width: 100%;
        &:not(:last-child){
            margin-bottom: 10%;

            @media screen and (max-width: 900px){
                margin-bottom: 20%;
            }
            @media screen and (max-width: 599px){
                margin-bottom: 0%;
            }

        }
        .push{
            @media screen and (max-width: 599px){
            margin: 0 !important;
            }
            @media screen and (max-height: 680px) and (orientation: landscape){
            // @media screen and (max-height: 600px) and (orientation: landscape){
              margin: 0 0 0 50% !important;
              }

            &-1{
                margin-left:70%;
                margin-right: 2%;
                filter: brightness(1);
            }
            &-2{
                margin-left:2%;
                margin-right: 60%;
            }
            &-3{
                margin-left:70%;
            }

            &-4{
                margin: 0 33.3%
            }
            &-5{
                margin-left:70%;
            }
            &-6{
                margin-left:0%;
                margin-right: 70%;
            }

            &-7{
                margin-left:70%;
                margin-right: 4%;
            }

            &-8{
                margin-left:5%;
                margin-right: 60%;
            }
            &-9{
                margin-left:70%;
                margin-right: 5%;
            }
            &-10    {
                margin-left:5%;
                margin-right: 60%;
            }
            &-11{
                @media screen and (min-width: 599px){
                    filter: brightness(0.4);
                }
                @media screen and (min-height: 599px){
                  filter: brightness(0.4);
              }
            }

        }
        & img{
            width:100%;
            vertical-align: bottom;
        }
    }
}
