$color: #ff501e;
$white: #fafff6;
$font: 'tex_gyre_heros_cnregular';
$font-bold: 'tex_gyre_heros_cnbold';
span.regular{
  font-family: $font;
}
span.bold{
  font-family: $font-bold;

}
h1.small{
  @media screen and (min-width: 599px){
    display: none;
    visibility: hidden;
  }
}
h1.big{
  @media screen and (max-width: 599px){
    display: none;
    visibility: hidden;
  }
}
#sign{
  position: absolute;
  bottom: 50vh;
  width: 20%;
  left: 50%;
  transform: translate(-50%, 50%);
  @media screen and (max-width: 599px){
    width: 50%;
    bottom: 109px;
    z-index: 2;  }
}
#logotype{
  position: absolute;
  top: 267%;
  width: 62%;
  left: 50%;
  transform: translate(-50%,50%);
  @media screen and (max-width: 1024px){
    width: 86%;
    top: 274%;

  }
  @media screen and (max-width: 900px){
    top: 201%;
  }
  @media screen and (max-width: 599px){

    display: none;
    visibility: hidden;
  }
}
#logotype-mobile{
  position: relative;
  top:3.5%;
  @media screen and (min-width: 599px) {
    display: none;
    visibility: hidden;
  }
}
.screen{
    position: fixed;
    z-index: 0;
    height: 92vh;
    color: $white;
    width: 100%;
    @media screen and (max-width: 599px){
        position: relative;
        height: unset;
    }
}


.awards{
    position: absolute;
    bottom: 0%;
    @media screen and (max-width: 599px) {
      position: relative;
      padding-top: 5%;
    }

}
h2{
  border: $color 1px solid;
  color: $color;
  padding: 0 1rem;
  width: 145px;
  font-size: 1rem;
  margin: 5px 2%;
  left: 2%;
}
ul{
    list-style: none;
    padding: 0 2%;
    font-size: .7rem;
    letter-spacing: .16rem;
    word-spacing: .05rem;
    text-align: justify;
    opacity: .9;
    text-transform: uppercase;

    @media screen and (max-width: 599px){
        text-align: left;
        font-size: .7rem;
        line-height: 1rem;
        padding: 0 4%;
        letter-spacing: .04rem;

    }
    & li{
      display: inline;
      padding-right: .5rem;
      padding-top: .24rem;

      &:before {
          content: "▪ ";
          color: $color;
        }

      @media screen and (max-width: 599px){
          display: list-item;
      }
  }
}

.gallery{
    padding-top: 13%;
    position: relative;
    margin-bottom: -4.2rem;
    @media screen and (max-width: 1024px){
        padding-top: 56%;
    }
    @media screen and (max-width: 599px){
      padding-top: 7rem;
  }


    .row{
        width: 100%;
        &:not(:last-child){
            margin-bottom: 21.2%;
            @media screen and (max-width: 1024px){
              margin-bottom: 35%;
          }

            @media screen and (max-width: 599px){
                margin-bottom: 0%;
            }

        }
        //pushe zdjęć
        .push{
            &-1{
              margin-left: 0%;
              margin-right: 68%;
            }
            &-2{
              margin-left:14%;
              margin-right: 54%;
            }
            &-3{
              margin-left: 0%;
              margin-right: 84%;
            }

            &-4{
              margin: -49.8% 10% 0 59%;//-68.8% 3% 0 49%
            }
            &-5{
              margin: 0 33%;
            }
            &-6{
              margin-left:0%;
              margin-right: 65%;
            }

            &-7{
              margin-left: 55%;
              margin-right: 4%;
              z-index:2;
              position: relative;
            }

            &-8{
              margin: -26.2% 35% 0 21%;
            }

            &-9{
              margin: 0 7% 0 68%;
              z-index: 2;
              position: absolute;
              filter: grayscale(1);
              bottom: 21vh;
            }
            &-10{
              z-index: -1;
              position: relative;
              filter: brightness(.6);
            }
            //tablet
            @media screen and (max-width: 1024px){
              &-1{
                margin-left: 0%;
                margin-right: 51%;
              }
              &-2{
                margin-left: 24%;
                margin-right: 34%;
              }
              &-3{
                margin-left: 0%;
                margin-right: 70%;
              }

              &-4{
                margin: -49.8% 3% 0 49%;
              }
              &-5{
                margin: 0 20%;
              }
              &-6{
                margin-left:0%;
                margin-right: 39%;
              }

              &-7{
                margin-left: 38%;
                margin-right: 4%;
                z-index:2;
                position: relative;
              }

              &-8{
                margin: -39.2% 40% 0 13%;
                z-index: -1;
                position: relative;
              }

              &-9{
                margin: 0 3% 0 57%;
                z-index: 2;
                position: absolute;
                filter: grayscale(1);
                bottom: 41vh;
              }
              &-10{
                z-index: -1;
                position: relative;
              }
            }
            @media screen and (max-width: 599px){
              margin: 0 !important;
              z-index: 1 !important;
              position: relative;
              bottom: 0 !important;
            }


        }
        & img{
            width:100%;
            vertical-align: bottom;
        }
    }
    .sticker{
      margin: -62% 10% 0 67%;
      @media screen and (max-width: 1024px){
        margin: -101% 10% 0 57%;
      }
      @media screen and (max-width: 599px){
        margin: 0 !important;
        position: absolute;
        top: 4rem;
        left: 13%;
        z-index: 2;
      }
    }
}
.copy-mobile{
  margin-top: 1rem !important;
  @media screen and (min-width: 599px){
    display: none;
    visibility: hidden;
  }
}
@media screen and (max-width: 599px){
  .copy{
    display: none;
    visibility: hidden;
  }
}

.copy, .copy-mobile{
  margin-top: 42%;
  padding-bottom: 2rem;
  color: $white;
  position: relative;

  @media screen and (max-width: 1024px){
    margin-top: 66%;
    padding-bottom: 5rem;

  }
  & p{
    padding: 1% 25%;
    font-size: 1.3vw;
    line-height: 1.4vw;
    letter-spacing: .2vw;
    word-spacing: .05vw;
    text-align: center;


    //tablet
    @media screen and (max-width: 1024px) and (orientation: portrait){
        padding: 1% 20%;
        font-size: 2.5vw;
        line-height: 3vw;
        letter-spacing: .2vw;
        word-spacing: 1vw;
        &:first-child{
          // padding-top: 22%;
          padding-top: 12%;
      }
    }

    //phone up to Nexus 7 excluded
    @media screen and (max-width: 599px){
        padding: 2% 10%;
        font-size: 5vw;
        line-height: 6vw;
        letter-spacing: .2vw;
        word-spacing: 1vw;
        &:first-child{
            padding-top: 15%;
        }
    }

    //BIG SCREEN TV
    @media screen and (min-height: 860px) and (orientation: landscape){
        font-size: 1.54vw;
        line-height: 1.7vw;
        letter-spacing: .2vw;
        word-spacing: .15vw;
        &:first-child{
            padding-top: 6%;
            // padding-top: 8%;
        }
    }
  }
}
