<div class="screen">

  <h1 class="big">
    ANDIAMO
    <span class="regular">
      {{ 'ABOUT.WHAT?' | translate }}
    </span>
    {{ 'ABOUT.NAME1' | translate }}
    <span class="regular">
      {{ 'ABOUT.AND' | translate }}
    </span>
    {{ 'ABOUT.NAME2' | translate }}
  </h1>

  <h1 class="small">
    {{ 'ABOUT.NAME1' | translate }}
    <span class="regular">
      {{ 'ABOUT.AND' | translate }}
    </span>
    {{ 'ABOUT.NAME2' | translate }}
    <span class="regular">
      {{ 'ABOUT.WHAT?2' | translate }}
    </span>
  </h1>

  <img id="logotype-mobile" src="../../../assets/ANDIAMO_logotype.svg" alt="">
  <div class="copy-mobile">
    <p>{{ 'ABOUT.ABOUT1' | translate }}</p>
    <p>{{ 'ABOUT.ABOUT2' | translate }}</p>
    <p>{{ 'ABOUT.ABOUT3' | translate }}</p>
  </div>
 <div class="awards">
      <h2>PRESS&nbsp;&&nbsp;AWARDS</h2>
      <ul>
          <li><span class="bold">Pezet „Nisko jest Niebo”</span> VIDEOCLIP ITALIA 2021</li>
          <li><span class="bold">Pezet „Nisko jest Niebo”</span> Cinematographers Award 2021</li>
          <li><span class="bold">Pezet „Nisko jest Niebo”</span> DIRECTORS LIBRARY January 2021</li>
          <li><span class="bold">Pezet „Nisko jest Niebo”</span> Best Music Video CULTURE.PL 3rd Place</li>
          <li><span class="bold">JJ Orliński „Voi che udite il mid lamento”</span> Best Music Video CULTURE.PL 7th Place</li>
          <li><span class="bold">JJ Orliński „Voi che udite”</span> Best Music Video Extra 2020 PMVA 2020 Nomination</li>
          <li><span class="bold">Pezet „Nisko jest Niebo”</span> Best Music Video Rap PMVA 2020 Nomination</li>
          <li><span class="bold">Adidas „Amp Futbol”</span> Branded Content - KTR 2020 Nomination</li>
          <li><span class="bold">Adidas „Amp Futbol”</span> Best Sport Video - SPORT MARKETING 2020</li>
          <li><span class="bold">Głosem Zwierząt „Pokochaj”</span> Best Social Campaign KREATURA 2020</li>
          <li><span class="bold">„Leśne”</span> Millenium DOCS AGAINST GRAVITY Special Screening 2020</li>
          <li><span class="bold">„Inner Voice” </span>MOSCOW SHORTS - Best Cinematography 2018</li>
          <li><span class="bold">„Inner Voice”</span> TOFIFEST Special Screening 2018</li>
      </ul>
  </div>
</div>
    <!-- <div *ngIf="screen.isBigScreen; else smallScreen"> -->
      <div>
        <div class="gallery">
            <div class="row" *ngFor="let photo of photos1">
                <div class="push push-{{photo}}">
                    <img [src]="bigURL+photo+'.jpg'"
                    alt="ANDIAMO photo{{photo}}">
                </div>
            </div>
            <div class="sticker">
              <img src="../../../assets/plasterek.png" alt="">
            </div>
            <div class="copy">
              <p>{{ 'ABOUT.ABOUT1' | translate }}</p>
              <p>{{ 'ABOUT.ABOUT2' | translate }}</p>
              <p>{{ 'ABOUT.ABOUT3' | translate }}</p>
              <img id="logotype" src="../../../assets/ANDIAMO_logotype.svg" alt="">

            </div>
            <div class="row" *ngFor="let photo of photos2">
              <div class="push push-{{photo}}">
                  <img [src]="bigURL+photo+'.jpg'"
                  alt="ANDIAMO photo{{photo}}">
              </div>
          </div>
        </div>
    </div>
    <!-- <ng-template #smallScreen>
        <div class="gallery">
            <div class="row" *ngFor="let photo of photos1">
                <div class="push push-{{photo}}">
                    <img
                    [lazyLoad]="smallURL+photo+'.jpg'"
                    [defaultImage]="logo"
                    alt="ANDIAMO photo{{photo}}">
                </div>
            </div>
            <div class="sticker">
              <img src="../../../assets/plasterek.png" alt="">
            </div>
            <div class="copy">
              <p>W naszych PRACaaaaaACH lubimy BAWIĆ SIĘ formą, nie zamykając w ŻADNEJ na ZAWSZE. Kochamy EMOCJONALNE podróże w KOSMOS, tak samo jak NIEDOSŁOWNY HUMOR. Bo dla NAS być POMIĘDZY - nigdy nie oznacza BYĆ nigdzie.</p>
              <p>ŁĄCZY nas NIEUSTANNA chęć tworzenia OBRAZÓW, które są PIĘKNE i PORUSZAJĄCE, niezależnie od tego czy robimy SPOTY reklamowe, DOKUMENTY czy teledyski. Serca NIE OSZUKASZ. </p>
              <p>Tworzyliśmy FILMY i KAMPANIE dla takich marek jak: ADIDAS, SPRITE, SAMSUNG, PUMA, TYSKIE, BALLANTINE’S, BNP PARIBAS i VOGUE oraz dla najważniejszych polskich artystów, m.in: PRO8L3M, BRODKA, QUEBO, PEZET, JJ ORLIŃSKI, KRÓL, SOKÓŁ i KAYAH.</p>
              <img id="logotype" src="../../../assets/ANDIAMO_logotype.svg" alt="">
            </div>
            <div class="row" *ngFor="let photo of photos2">
              <div class="push push-{{photo}}">
                  <img [src]="smallURL+photo+'.jpg'"
                  alt="ANDIAMO photo{{photo}}">
              </div>
          </div>
        </div>
    </ng-template> -->

    <img id="sign" src="../../../assets/ANDIAMO_sign.svg" alt="">
