$color-2: #84fb54;
$white: #fafff6;
.screen{
    position: fixed;
    z-index: 100;
    height: calc(97vh - 10.4rem);
    color: $white;
    mix-blend-mode: difference;
    @media screen and (max-width: 599px){
        position: relative;
        height: unset;
    }
    @media screen and (max-height: 500px){
      position: relative;
      height: unset;
  }
}

p{
    padding: 1% 26%;
    font-size: 1.4rem;
    line-height: 1.7rem;
    letter-spacing: .2rem;
    word-spacing: .1rem;
    text-align: justify;
    &:first-child{
        padding-top: 4%;
    }


    //tablet up to Pro
    @media screen and (max-width: 1024px) and (orientation: portrait){
        padding: 1% 22%;
        font-size: 1.2rem;
        line-height: 1.5rem;
        letter-spacing: .12rem;
        word-spacing: .06rem;
        &:first-child{
            padding-bottom: 6%;
        }
    }
    //big tablet padding top fix
    @media  (min-height: 1280px) and (orientation: portrait){
        font-size: 1.4rem;
        line-height: 1.7rem;
        letter-spacing: .2rem;
        word-spacing: .1rem;
        &:first-child{
            padding-top: calc(22% + 10rem);
        }
    }
    //phone up to Nexus 7 excluded
    @media screen and (max-width: 599px){
        padding: 2% 10%;
        &:first-child{
            padding-top: 15%;
        }
    }

    //big screen
    @media screen and (min-width: 1600px) and (min-height: 860px){
        font-size: 1.6rem;
        line-height: 2rem;
        letter-spacing: .25rem;
        word-spacing: .25rem;
        &:first-child{
            padding-top: 8%;
        }
    }

     //small laptop <720 px height (11'-15')
     @media screen and (max-height: 720px) and (orientation: landscape){
        padding: .5% 24vh;
        font-size: 1.2rem;
        line-height: 1.4rem;
        letter-spacing: .1rem;
        &:first-child{
            padding-top: 3%;
        }
    }
}

.awards{
    position: absolute;
    bottom: 0%;
    @media screen and (max-width: 599px) {
      position: relative;
      padding-top: 5%;
    }
    @media screen and (max-height: 500px){
      position: relative;
      padding-top: 5%;
  }
}

h1, ul{
    list-style: none;
    padding: 0 .5%;
    font-size: .8rem;
    letter-spacing: .16rem;
    word-spacing: .05rem;
    text-align: justify;
    opacity: .9;
    @media screen and (max-width: 1300px){
        font-size: .7rem;
        letter-spacing: .1rem;
        word-spacing: .02rem;


    }
    @media screen and (max-width: 599px){
        text-align: left;
        font-size: .8rem;
        line-height: 1.2rem;
        padding: 0 4%;
        letter-spacing: .06rem;
        text-align: left;

    }
}

ul{


    & li{
        display: inline;
        padding-right: .5rem;
        padding-top: .24rem;

        &:before {
            content: "▪ ";
            color: $color-2;
          }

        @media screen and (max-width: 599px){
            display: list-item;
        }

    }
}

.gallery{
    padding-top: 25%;
    position: relative;
    margin-bottom: -4.2rem;
    @media screen and (max-width: 900px){
        padding-top: 6%;
    }

    .row{
        width: 100%;
        &:not(:last-child){
            margin-bottom: 10%;

            @media screen and (max-width: 900px){
                margin-bottom: 20%;
            }
            @media screen and (max-width: 599px){
                margin-bottom: 0%;
            }
            @media screen and (max-height: 500px){
              margin-bottom: 0%;
          }
        }
        .push{
            @media screen and (max-width: 599px){
            margin: 0 !important;
            }
            @media screen and (max-height: 500px){
              margin: 0 25% !important;
              }

            &-1{
                margin-left:70%;
                margin-right: 2%;
                filter: brightness(1);
            }
            &-2{
                margin-left:2%;
                margin-right: 60%;
            }
            &-3{
                margin-left:70%;
            }

            &-4{
                margin: 0 33.3%
            }
            &-5{
                margin-left:70%;
            }
            &-6{
                margin-left:0%;
                margin-right: 70%;
            }

            &-7{
                margin-left:70%;
                margin-right: 4%;
            }

            &-8{
                margin-left:5%;
                margin-right: 60%;
            }
            &-9{
                margin-left:70%;
                margin-right: 5%;
            }
            &-10    {
                margin-left:5%;
                margin-right: 60%;
            }
            &-11{
                @media screen and (min-width: 599px){
                    filter: brightness(0.4);
                }
                @media screen and (min-height: 599px){
                  filter: brightness(0.4);
              }
            }

        }
        & img{
            width:100%;
            vertical-align: bottom;
        }
    }
}
