
<!-- <div class="gallery"> -->
    <div class="screen">
        <p>
            ANDIAMO is a directors duo consisting of Mat&nbsp;Erdmann and Michal&nbsp;Wieckowski based in WARSAW, Poland. We are juggling with the FORM, not shaping our works in any permanently. In love with creating RAW and GLARING worlds since always. Because being in BETWEEN doesn’t mean being NOWHERE, huh&nbsp;?
        </p>
        <p>
            We found JOY in mixing documentary and feature for such brands as: ADIDAS, SAMSUNG, PUMA, TYSKIE, BALLANTINE’S, WYBOROWA and VOGUE and such top polish artists as: PRO8L3M, BRODKA, PEZET, JJ&nbsp;ORLIŃSKI, KRÓL, SOKÓŁ and KAYAH.
        </p>
        <div class="awards">
            <h1>PRESS & AWARDS</h1>
            
            <ul>
                <li>Pezet „Nisko jest Niebo” VIDEOCLIP ITALIA 2021</li>
                <li>Pezet „Nisko jest Niebo” Cinematographers Award 2021</li>
                <li>Pezet „Nisko jest Niebo” DIRECTORS LIBRARY January 2021</li>
                <li>Pezet „Nisko jest Niebo” Best Music Video CULTURE.PL 3rd Place</li>
                <li>JJ Orliński „Voi che udite il mid lamento” Best Music Video CULTURE.PL 7th Place</li>
                <li>JJ Orliński „Voi che udite” Best Music Video Extra 2020 PMVA 2020 Nomination</li>
                <li>Pezet „Nisko jest Niebo” Best Music Video Rap PMVA 2020 Nomination</li>
                <li>Adidas „Amp Futbol” Branded Content - KTR 2020 Nomination</li>
                <li>Adidas „Amp Futbol” Best Sport Video - SPORT MARKETING 2020</li>
                <li>Głosem Zwierząt „Pokochaj” Best Social Campaign KREATURA 2020</li>
                <li>„Leśne” - Millenium DOCS AGAINST GRAVITY Special Screening 2020</li>
                <li>„Inner Voice” MOSCOW SHORTS - Best Cinematography 2018</li>
                <li>„Inner Voice” TOFIFEST Special Screening 2018</li>
            </ul>
        </div>
    </div>
    <div *ngIf="isBigScreen; else smallScreen">
        <div class="gallery">
            <!-- <div class="row" *ngFor="item of [].constructor(11); let photo = index"> -->
            <div class="row" *ngFor="let photo of photos">
                <div class="push push-{{photo}}">
                    <img src="assets/big/{{photo}}.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
    <ng-template #smallScreen>
        <div class="gallery">
            <div class="row" *ngFor="let photo of photos">
                <div class="push push-{{photo}}">
                    <img src="assets/small{{photo}}.jpg" alt="">
                </div>
            </div>
        </div>
    </ng-template>
