<header>
  <app-nav></app-nav>
</header>
  <div class="mobile">
    <ul>
      <li><a class="menu-link">
        <fa-icon [icon]="menuIcon" (click)="sidenav.toggle()"></fa-icon>
      </a></li>
      <li><a class="menu-link" href="https://vimeo.com/andiamoworks" target="_blank">
        <fa-icon [icon]="vimeoIcon"></fa-icon>
      </a></li>
      <li><a class="menu-link" href="https://www.facebook.com/andiamoworks" target="_blank">
        <fa-icon [icon]="facebookIcon"></fa-icon>
      </a></li>
      <li><a class="menu-link" href="https://www.instagram.com/andiamoworks" target="_blank">
        <fa-icon [icon]="instagramIcon"></fa-icon>
      </a></li>
    </ul>
  </div>
  <mat-sidenav-container>
        <mat-sidenav #sidenav>
          <img id="sign" src="../assets/ANDIAMO_sign.svg" alt="">
          <mat-nav-list>
            <a (click)="sidenav.toggle()" mat-list-item routerLink="{{ 'ROUTING.MAIN' | translate }}" routerLinkActive="active" class="menu-link">WORKS</a>
            <a (click)="sidenav.toggle()" mat-list-item routerLink="{{ 'ROUTING.ABOUT' | translate }}" routerLinkActive="active" class="menu-link">ABOUT</a>
            <a (click)="sidenav.toggle()" mat-list-item routerLink="{{ 'ROUTING.BTS' | translate }}" routerLinkActive="active" class="menu-link">BTS</a>
            <!-- <a (click)="sidenav.toggle()" mat-list-item routerLink="/newsy" routerLinkActive="active">AKTUALNOŚCI</a> -->
            <a (click)="sidenav.toggle()" mat-list-item routerLink="{{ 'ROUTING.CONTACT' | translate }}" routerLinkActive="active" class="menu-link">{{ 'MENU.CONTACT' | translate }}</a>
            <!-- <a (click)="sidenav.toggle()" mat-list-item routerLink="{{ 'ROUTING.SOULREEL' | translate }}" routerLinkActive="active" class="menu-link">SOULREEL</a> -->
              <app-translation (click)="sidenav.toggle()"></app-translation>
          </mat-nav-list>
        </mat-sidenav>
      <mat-sidenav-content>
          <div class="router-wrapper">
            <router-outlet>
            </router-outlet>
          </div>
      </mat-sidenav-content>
  </mat-sidenav-container>
