<header>
  <app-nav></app-nav>
</header>
  <div class="mobile">
    <ul>
      <li><a>
        <!-- <mat-icon (click)="sidenav.toggle()">menu</mat-icon> -->
        <fa-icon [icon]="menuIcon" (click)="sidenav.toggle()"></fa-icon>

      </a></li>
      <li><a href="https://vimeo.com/andiamoworks" target="_blank">
        <!-- <i class="fa fa-vimeo" aria-hidden="true"></i> -->
        <fa-icon [icon]="vimeoIcon"></fa-icon>
      </a></li>
      <li><a href="https://www.facebook.com/andiamoworks" target="_blank">
        <!-- <i class="fa fa-facebook" aria-hidden="true"></i> -->
        <fa-icon [icon]="facebookIcon"></fa-icon>

      </a></li>
      <li><a href="https://www.instagram.com/andiamoworks" target="_blank">
        <!-- <i class="fa fa-instagram" aria-hidden="true"></i> -->
        <fa-icon [icon]="instagramIcon"></fa-icon>

      </a></li>
    </ul>
  </div>
  <mat-sidenav-container>
        <mat-sidenav #sidenav>
          <mat-nav-list>
            <a (click)="sidenav.toggle()" mat-list-item routerLink="/films" routerLinkActive="active">WORKS</a>
            <a (click)="sidenav.toggle()" mat-list-item routerLink="/about" routerLinkActive="active">ABOUT</a>
            <a (click)="sidenav.toggle()" mat-list-item routerLink="/bts" routerLinkActive="active">BTS</a>
            <a (click)="sidenav.toggle()" mat-list-item routerLink="/news" routerLinkActive="active">NEWS</a>
            <a (click)="sidenav.toggle()" mat-list-item routerLink="/contact" routerLinkActive="active">CONTACT</a>
            <a (click)="sidenav.toggle()" mat-list-item routerLink="/reel" routerLinkActive="active">REEL 2020</a>
          </mat-nav-list>
        </mat-sidenav>
      <mat-sidenav-content>
        <div id="logotype-wrapper">
          <span id="allora">Allora,</span>
          <img src="assets/andiamo-logo-big-green.png" alt="ANDIAMO" class="logotype">
          <span id="question-mark">?</span>
        </div>
          <div class="router-wrapper">
            <router-outlet></router-outlet>
          </div>
      </mat-sidenav-content>
  </mat-sidenav-container>
