<!-- <ng-container *ngIf="!isSkipped">
  <div id="showreel">
    <iframe [src]="475158192 | vimeoUrlAutoplay" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
    <button (click)="skipReel();">skip</button>
  </div>
</ng-container> -->

<div class="screen">
  <h1>WYBRANE PRACE</h1>
  <h2>2016 — 2021</h2>
  <img id="sign" src="../../../assets/ANDIAMO_sign.svg" alt="">
  <p>SPRITE / PEZET / SAMSUNG / PRO8L3M / ADIDAS / BNP PARIBAS / VOGUE / BRODKA / TYSKIE / QUEBO / ŁOWICZ / PUMA I WIELE WIĘCEJ</p>

</div>
<div #list class="videos">
  <button (click)="scrollToElement(list)">
    <fa-icon [icon]="arrowIcon"></fa-icon>
  </button>
  <app-video-list user="57151240"></app-video-list>
</div>
