<!-- <ng-container *ngIf="isSkipped === 'nie'">
  <div id="showreel">
    <video width="100%" poster="../../../assets/ANDIAMO_soulreel.jpg" autoplay muted loop >
      <source src="../../../assets/ANDIAMO_soulreel.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
    <button (click)="skipReel();">skip</button>
  </div>
</ng-container> -->
<app-intro></app-intro>


<div class="screen">
  <h1>{{ 'MAIN.H1' | translate }}</h1>
  <h2>2016 — 2021</h2>
  <img id="sign" src="../../../assets/ANDIAMO_sign.svg" alt="">
  <p>{{ 'MAIN.CLIENTS' | translate }}</p>

</div>
<div #list class="videos">
  <button (click)="scrollToElement(list)">
    <img src="../../../assets/ANDIAMO_arrow.svg" alt="">
  </button>
  <app-video-list user="57151240"></app-video-list>
</div>
