$color-2: #8cfa60;

.board{
    height: calc(100vh - 180px);
    width: 67%;
    margin: 0 auto;
    position: relative;
    @media screen and (max-width: 900px){
        width: 87%;
    }
    @media screen and (max-width: 600px){
        height: calc(100vh - 5.925rem);
    }

    & h1{
        width: 100%;
        position: absolute;
        top:50%;
        left: 50%;
        transform: translate(-50%, -50%);

        font-size: 2.2rem;
        letter-spacing: .21rem;
        line-height: 2.5rem;
        word-spacing: .26rem;

        @media screen and (max-width: 900px){
            font-size: 2rem;
            letter-spacing: .11rem;
            line-height: 2.1rem;
            word-spacing: .19rem;
        }
        @media screen and (max-width: 600px){
            font-size: 1.4rem;
            letter-spacing: .15rem;
            line-height: 1.5rem;
            word-spacing: .17rem;
        }
    }


    & button{
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        @media screen and (max-width:900px){

        display: none;
        visibility: hidden;
            
        }

        &:focus{
            outline: none;
        }
    }
}

