$color-2: #8cfa60;

.board{
    height: calc(100vh - 204px);
    width: 65%;
    margin: 0 auto;
    position: relative;

    & h1{
        width: 100%;
        position: absolute;
        top:50%;
        left: 50%;
        transform: translate(-50%, -50%);

    }

    & button{
        position: absolute;
        background-color: $color-2;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);

        &:focus{
            outline: none;
        }
    }
}

