<button mat-icon-button [matMenuTriggerFor]="menu"> 
    <mat-icon>menu</mat-icon>
</button>

    <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/films" routerLinkActive="active">WORKS</button>
        <button mat-menu-item routerLink="/about" routerLinkActive="active">ABOUT</button>
        <button mat-menu-item routerLink="/bts" routerLinkActive="active">BTS</button>
        <button mat-menu-item routerLink="/digital" routerLinkActive="active">DIGITAL</button>
        <button mat-menu-item routerLink="/contact" routerLinkActive="active">CONTACT</button>
        <button mat-menu-item routerLink="/reel2020" routerLinkActive="active">REEL2020</button>
    </mat-menu>

