
$color: #ff501e;
$color-2: #8cfa60;
$white: #fafff6;
$gray: #f0f0f0;
$font: 'tex_gyre_heros_cnregular';
$font-bold: 'tex_gyre_heros_cnbold';

//PRODUCTION
@font-face {
  font-family: 'tex_gyre_heros_cnregular';
  src: url('https://andiamo.works/assets/fonts/texgyreheroscn-regular.otf');
  src: url('https://andiamo.works/assets/fonts/texgyreheroscn-regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'tex_gyre_heros_cnbold';
  src: url('https://andiamo.works/assets/fonts/texgyreheroscn-bold.otf');
  src: url('https://andiamo.works/assets/fonts/texgyreheroscn-bold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

//LOCAL
// @font-face {
//   font-family: 'tex_gyre_heros_cnregular';
//   src: url('/assets/fonts/texgyreheroscn-regular.otf');
//   src: url('/assets/fonts/texgyreheroscn-regular.otf') format('opentype');
//   font-weight: normal;
//   font-style: normal;
// }
// @font-face {
//   font-family: 'tex_gyre_heros_cnbold';
//   src: url('/assets/fonts/texgyreheroscn-bold.otf');
//   src: url('/assets/fonts/texgyreheroscn-bold.otf') format('opentype');
//   font-weight: normal;
//   font-style: normal;
// }


body{
    font-family: $font;
    font-size: 1.3rem;
    font-weight: 600;
    letter-spacing: .1rem;
    margin: 0px;
    background-color: #F0F0F0;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    & ::selection{
        background-color: $color-2;
    }
}

.router-wrapper{
    margin: 2px 0 4.2rem 0;
}

//logotype "Allora, ANDIAMO ?"
#logotype-wrapper{
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: -1rem;
    width: 35rem;
    z-index: 2;
    mix-blend-mode: difference;
    height: 7rem;
    @media screen and (max-width: 405px){
        width: 22.826rem;
    }
}
.logotype{
    position: absolute;
    width: 12rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @media screen and (max-width: 405px){
        width: 7.826rem;
    }

}
span#question-mark, span#allora{
    display: none;
    position: absolute;
    font-size: 2.3rem;
    text-transform: uppercase;
    transform: rotate(-7.2deg);
    color: $color;
    z-index: 10;
    @media screen and (max-width: 405px){
        font-size: 1.5rem;
    }
}
span#allora{
    left: 0;
    bottom: 8%;
    @media screen and (max-width: 405px){
        bottom: 23%;
        }
}
span#question-mark{
    right: 27%;
    top: 13%;
    @media screen and (max-width: 405px){
        top: 25%;
        }
}

h1{
    font-size: 3.875rem;
    line-height: 3.8rem;
    padding: 0 14%;
    text-align: center;
    font-family: $font-bold;
    letter-spacing: .08rem;
    color: $color;
    margin: 0;
    top: calc(2% - 2px);
    position: relative;


    @media screen and (max-width: 900px){
      font-size: 2.875rem;
      line-height: 2.8rem;
      margin-top: 8rem;
      padding: 0 5%;

    }
    @media screen and (max-width: 400px){
      font-size: 2.4rem;
      line-height: 2.3rem;
      margin-top: 4rem;

    }


}
h2{
    font-size: 3.875rem;
    line-height: 3.8rem;
    text-align: center;
    font-family: $font;
    letter-spacing: .08rem;
    color: $color;
    @media screen and (max-width: 900px){
        font-size: 2.875rem;
        line-height: 2.8rem;
    }
    @media screen and (max-width: 400px){
        font-size: 2.4rem;
        line-height: 2.3rem;    }

}

a{
    text-decoration: none;
    @media screen and (min-width: 600px){
        &:hover{
          text-decoration: underline;

        }
    }

}

p, h2, ul {
    margin: 0;
    @media screen and (max-width: 900px){
        padding: 0 1rem;
    }
}
span.regular{
    font-family: $font;
  }
span.bold{
    font-family: $font-bold;

  }


button{
    border: none;
    cursor: pointer;
    background-color: rgba($white, 0);
}
//responsive menu
@media only screen and (max-width: 599px) {
    .desktop{
        display: none;
        visibility: hidden;
    }
}



//mobile menu
.mobile{
    position: sticky;
    top: 0;
    z-index: 100;
    width: 100%;
    & ul{
        display: flex;
        justify-content: space-between;
        list-style: none;
    }

    @media only screen and (min-width: 599px) {
    display: none;
    visibility: hidden;
    }
}
.mat-drawer{
    position: fixed !important;
    padding-top: 6rem;
    background-color: $gray;
}
.mat-drawer-container{
    background-color: rgba($white, 0);
}
.mat-drawer-container-about{
    background-color: red;
}
.mat-drawer-backdrop.mat-drawer-shown{
    background-color: rgba($color, .6);
}

