
<select #langSelect (change)="translate.use(langSelect.value); navigateOnLangSwitch();">
  language
  <option *ngFor="let lang of translate.getLangs()" [value]="lang" [selected]="lang === translate.currentLang">{{ lang }}</option>
</select>

  <!-- <div *ngFor="let lang of translate.getLangs()">
    <input type="radio" id="lang" [value]="lang" [selected]="lang === translate.currentLang">
    <label for="lang">{{ lang }}</label>
  </div> -->


<!--
<form>
  <h4>mat-select</h4>
  <mat-form-field appearance="fill">
    <mat-label>Language</mat-label>
    <mat-select [(ngModel)]="selectedValue" name="language">
      <mat-option *ngFor="let language of languages" [value]="language.value">
        {{language.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <p> Selected language: {{selectedValue}} </p>
</form> -->
